<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-18-222-97-7.us-east-2.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>healthportal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=ejl132-cs336.cqimgczkrxbi.us-east-2.rds.amazonaws.com;Initial Catalog=DefaultConnection;Persist Security Info=True;User ID=root;Password=password123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HealthPortal.Models.ApplicationDbContext, HealthPortal" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="healthportal" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ejl132-cs336.cqimgczkrxbi.us-east-2.rds.amazonaws.com;Initial Catalog=healthportal;Integrated Security=True;Persist Security Info=True;User ID=root;Password=password123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\healthportal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ejl132-cs336.cqimgczkrxbi.us-east-2.rds.amazonaws.com;Initial Catalog=healthportal;Persist Security Info=True;User ID=root;Password=password123;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="healthportal-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ejl132-cs336.cqimgczkrxbi.us-east-2.rds.amazonaws.com;Initial Catalog=DefaultConnection;Persist Security Info=True;User ID=root;Password=password123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>