@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Health Portal</h1>
    <p class="lead">The Health Portal is an online application designed to help patients quickly and efficiently get in contact with 
    their doctors and nurses. It allows patients to easily schedule appointments with their doctors, have access to forums where 
    they can ask questions and licensed doctors would have a place to quickly address any issues. Additionally, it provides doctors
    and nurses an easy system to manage their patients and patient details such as prescriptions, diagnosis, etc.</p>
</div>