@model HealthPortal.Models.ViewPatientDiagnosisBreakdownViewModel

@{ 
    ViewBag.Title = "Diagnoses Breakdown.";
}

<h2>@ViewBag.Title</h2>
<h4>Percentages:</h4>
<hr />
<table border="1px solid black">
    <tr>
        <th>Diagnosis Name</th>
        <th>Percentage</th>
    </tr>
    @foreach(var item in Model.Rows)
    {
        <tr>
            <td>@item.DiagnosisName</td>
            <td>@item.Percent</td>
        </tr>
    }
</table><br /><br />
<p>In the following section, we will look at patients' response to their level of energy over time. Before an appointment, they are asked to 
    submit a pre-checkup questionnaire. One of the questions asks for the patient to rate their level of energy from 1 to 9 with 1 being lowest
    and 9 being highest amount of energy. The following percentage is the average shift in level of energy over time across all patients.</p>
<br />
<div>
    <b>Energy Shift: </b>@Model.Shift
</div>